@media screen and (max-width: 1170px) {
    
    .services__content, .project__wrapper {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .wrapper-heading, .wrapper-heading-contact {
        max-width: 100%;
        padding-left: 0;
        padding-bottom: 2rem;
    }

     .services__title::after, .project__title::after, .contact__title::after {
         font-size: 6rem;
         top: -25px;
     }
    
     .services__text, .project__text, .contact__text  {
         max-width: 58rem;
         text-align: center;
     }

    
}

@media screen and (max-width: 967px) {
    h1 {
        font-size: 7rem;
        line-height: 8rem;
    }
    p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .profil__title {
        max-width: 65rem;
    }
    .project__content {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .iphone {
        position: absolute;
        right: -50rem;
        top: 22rem;
        max-width: 140rem;
    }
   
    .project__card, .project__container-card, .project__img {
        width: 100%;
    }
    
 .project__container {
     flex-direction: column-reverse;
 }
 .col-right {
     transform: translateY(0);
 }
}

