@media screen and (max-width: 770px) {
    .container {
        max-width: calc(100% - 4rem);
    }
    .section {
        padding: 5rem 5rem;
    }
    h1 {
        line-height: initial;
    }

    h2 {
        font-size: 3.4rem;
        letter-spacing: 3.2px;
    }

    p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
   
    

    .profil__text {
        text-align: center;
        line-height: 2rem;
        margin: 0 auto;
    }

    .wrapper-btn {
        justify-content: center;
    }

     

    .services__title::after, .project__title::after, .contact__title::after {
        font-size: 3rem;
        top: -33px;
        left: -25px;

    }

    .services__container {
        flex-direction: column;
        gap: 0;
    }

    .services__listing-container {
        width: 100%;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .footer__info {
        align-items: center;
    }
    .footer__link {
        padding: 14px 9px;

    }
}

@media screen and (max-width: 590px) {

    .container {
        max-width: calc(100% - 1rem);
    }
    .section {
        padding: 5rem 1rem;
    }
    h1 {
        font-size: 4.5rem;
    }

}

