@media screen and (max-width: 770px) {
    .container {
        max-width: calc(100% - 1rem);
    }
    .section {
        padding: 5rem 1rem;
    }
    h1 {
        font-size: 4.7rem;
        line-height: initial;
    }

    h2 {
        font-size: 3.4rem;
        letter-spacing: 3.2px;
    }

    p {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
   
    

    .profil__text {
        text-align: center;
        max-width: initial;
    }

    .wrapper-btn {
        justify-content: center;
    }

     

    .services__title::after, .project__title::after, .contact__title::after {
        font-size: 3rem;
        top: -33px;
        left: -25px;

    }

    .services__container {
        flex-direction: column;
        gap: 0;
    }

    .services__listing-container {
        width: 100%;
    }

    .footer {
        background: none;
        background-color: #e2e4f8;
}
}
