@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;800&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  color: #424242;
  letter-spacing: 0.3px;
}

h1, h2, h3 {
  font-weight: bolder;
}

h1 {
  font-size: 10rem;
  line-height: 11rem;
  letter-spacing: 5px;
  color: #212121;
}

h2 {
  position: relative;
  font-size: 6rem;
  letter-spacing: 5px;
  color: #424242;
}

h3 {
  font-size: 2rem;
  color: #424242;
}

a {
  text-decoration: none;
  color: #6E6D7A;
}

p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
}

input, textarea {
  border: none;
  border: 1px #dfe0e2 solid;
  border-radius: 3px;
  margin-bottom: 2rem;
  width: 100%;
  outline: none;
  padding: 1rem 0 0.8rem 1rem;
  font-family: "Inter", sans-serif;
  background: rgba(255, 255, 255, 0.4);
}

textarea {
  resize: none;
}

button {
  border: none;
  cursor: pointer;
}

li {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  transition: 0.3s;
}
li a:hover {
  color: #000000;
}

small {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.dp-flex {
  display: flex;
  flex-wrap: wrap;
}

.spacebtwn {
  justify-content: space-evenly;
}

.container {
  max-width: calc(100% - 10rem);
  margin: 0 auto;
}

.section {
  padding: 10rem 5rem;
  border-radius: 15px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  transition: 0.3s;
  color: #f3f3f4;
}
.btn:hover {
  opacity: 0.8;
}

.btn-black {
  background: #212121;
}

.translate {
  transition: 0.3s;
}

.btn:hover .translate {
  transform: translateX(10px);
}

.span-langage {
  display: inline-block;
  color: #6E6D7A;
  background: #d8d8d8;
  padding: 0.3rem 0.3rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}

.wrapper-btn {
  display: flex;
  padding-top: 2rem;
}

.wrapper-heading {
  max-width: 35rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
}
.wrapper-heading-contact {
  max-width: 40rem;
}

.wrapper-input {
  justify-content: space-between;
}

.header {
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f3f3f4;
  margin-bottom: 3rem;
}

.navbar {
  align-items: center;
  overflow: hidden;
  height: 10rem;
}
.navbar__link {
  float: left;
  color: #6E6D7A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 0.8px;
  transition: 0.3s;
}
.navbar__link:hover {
  color: #d70dc9;
}
.navbar__email {
  transition: 0.3s;
}
.navbar__email:hover {
  color: #212121;
}

.navbar--footer {
  align-items: flex-start;
}

.profil {
  position: relative;
  background: #fcf4e3;
  padding: 5rem;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}
.profil__container {
  position: inherit;
}
.profil__title {
  max-width: 91rem;
}
.profil .profil__wrapper {
  width: 100%;
}
.profil__text {
  padding-top: 3rem;
  line-height: 3rem;
  max-width: 50rem;
  color: black;
}
.profil__hands {
  max-width: 30px;
  vertical-align: middle;
  padding-bottom: 1rem;
}

.iphone {
  position: absolute;
  right: -60rem;
  top: 7rem;
  max-width: 174rem;
}

.services__content {
  justify-content: space-between;
  align-items: center;
}
.services__title::after {
  position: absolute;
  content: "Mes Services";
  line-height: 8rem;
  opacity: 0.08;
  font-size: 7rem;
  top: -40px;
  left: -40px;
}
.services__container {
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}
.services__text {
  max-width: 60rem;
}
.services__listing-container {
  display: flex;
  flex-flow: column;
  flex: 1 1;
}
.services__heading {
  padding-bottom: 3rem;
}
.services__listing {
  background: #ffede8;
  border-radius: 5px;
  padding: 3rem 4rem 5rem;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.services__listing:hover {
  box-shadow: 0px 10px 70px rgba(39, 39, 39, 0.2);
}
.services__list {
  padding-bottom: 2rem;
  list-style-type: disc;
  margin-left: 1rem;
}

.framework {
  background: #e2e4f8;
}

.outils {
  background: #ffedef;
}

.cms {
  background: #efeafc;
}

.library {
  background: #e7f7e9;
}

.database {
  background: #fcf4e3;
}

.project {
  background: #f8f8fd;
  margin-bottom: 2rem;
}
.project__wrapper {
  justify-content: space-between;
  align-items: center;
}
.project__title::after {
  position: absolute;
  content: "Projets Récents";
  line-height: 8rem;
  opacity: 0.08;
  font-size: 7rem;
  top: -40px;
  left: -40px;
}
.project__text {
  max-width: 60rem;
}
.project__card {
  padding-bottom: 5rem;
  display: flex;
  flex-flow: column;
  flex: 1 1;
}
.project__container-card {
  flex-direction: column;
  width: 48%;
}
.project__img {
  padding-bottom: 1rem;
  border-radius: 10px;
  object-fit: contain;
}
.project__heading {
  color: black;
  transition: 0.3s;
}
.project__heading:hover {
  opacity: 0.5;
}
.project__content {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #555555;
}
.project-bis__title::after {
  position: absolute;
  content: "Autres Projets";
  line-height: 8rem;
  opacity: 0.08;
  font-size: 7rem;
  top: -40px;
  left: -40px;
}

.col-right {
  transform: translateY(150px);
}

.contact {
  background: url("./img/Monochrome.png") no-repeat;
  background-size: contain;
  background-position: bottom right;
  background-color: #f2f2f3;
  margin-bottom: 2rem;
}
.contact__title::after {
  position: absolute;
  content: "Me Contacter";
  line-height: 8rem;
  opacity: 0.08;
  font-size: 7rem;
  top: -40px;
  left: -40px;
}
.contact__wrapper {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}
.contact__text {
  max-width: 50rem;
}
.contact__group-input {
  width: 48%;
}
.contact__error {
  color: #e74c3c;
  position: absolute;
  bottom: -15px;
  left: 0;
  visibility: hidden;
}
.contact__group.error .contact__error {
  visibility: visible;
}
.contact__submit-img {
  vertical-align: sub;
}

.footer {
  position: relative;
  background: url("./img/background-blur.png") no-repeat;
  background-size: cover;
  padding: 5rem 3rem;
  border-radius: 15px;
}
.footer__avatar {
  max-width: 5rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: black;
  border-radius: 100%;
}
.footer__container {
  justify-content: space-between;
  align-items: baseline;
}
.footer__link {
  color: #212121;
}
.footer__info {
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
}

@media screen and (max-width: 1170px) {
  .services__content, .project__wrapper {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .wrapper-heading, .wrapper-heading-contact {
    max-width: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }

  .services__title::after, .project__title::after, .contact__title::after {
    font-size: 6rem;
    top: -25px;
  }

  .services__text, .project__text, .contact__text {
    max-width: 77rem;
    text-align: center;
  }
}
@media screen and (max-width: 967px) {
  h1 {
    font-size: 7rem;
    line-height: 8rem;
  }

  .profil__title {
    max-width: 65rem;
  }

  .project__content {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .iphone {
    position: absolute;
    right: -50rem;
    top: 22rem;
    max-width: 140rem;
  }

  .project__card, .project__container-card, .project__img {
    width: 100%;
  }

  .project__container {
    flex-direction: column-reverse;
  }

  .col-right {
    transform: translateY(0);
  }
}
@media screen and (max-width: 770px) {
  .container {
    max-width: calc(100% - 1rem);
  }

  .section {
    padding: 5rem 1rem;
  }

  h1 {
    font-size: 4.7rem;
    line-height: initial;
  }

  h2 {
    font-size: 3.4rem;
    letter-spacing: 3.2px;
  }

  p {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }

  .profil__text {
    text-align: center;
    max-width: initial;
  }

  .wrapper-btn {
    justify-content: center;
  }

  .services__title::after, .project__title::after, .contact__title::after {
    font-size: 3rem;
    top: -33px;
    left: -25px;
  }

  .services__container {
    flex-direction: column;
    gap: 0;
  }

  .services__listing-container {
    width: 100%;
  }

  .footer {
    background: none;
    background-color: #e2e4f8;
  }
}

/*# sourceMappingURL=style.css.map */
